.login-content {
    .login-container {
        border-radius: 12px !important;
        .v-image {
            height: 100%;
            border-radius: 0 12px 12px 0 !important;
        }
        .login-main_content {   
            padding: 32px 42px;     
            .login-header {
                display: block;
                .login-header_content {
                    display: block; 
                }
            }
        }
        
    }
}   